.product-detail {
  padding: 2rem;
}

.back-button {
  background: none;
  border: none;
  font-size: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.product-detail-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.product-detail-image img {
  width: 100%;
  border-radius: 12px;
}

/* .product-detail-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
} */

.product-detail-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
}

.description {
  color: #555;
}

.price {
  font-size: 1.5rem;
  font-weight: bold;
}
